.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map-container {
    flex: 1 0 70%;
    position: relative;
}

.bottom-container {
    flex: 1 0 30%;
    display: flex;
    background-color: black;
}

.options-container {
    flex: 1;
    position: relative;
    background-color: gray;
}

.statistics-container {
    flex: 1;
    position: relative;
    background-color: blueviolet;
}

@media (max-width: 600px) {
    .bottom-container {
        flex-direction: column;
    }
}