name: Build and Deploy React App

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código fuente
        uses: actions/checkout@v2

      - name: Configurar token GH_TOKEN
        run: echo "GH_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_ENV

      - uses: actions/setup-node@v3
        with:
          node-version: '18.16.0'  # Cambia la versión de Node.js según tus requisitos

      - name: Instalar dependencias
        run: npm install

      - name: Instalar Node.js y Vite
        run: |
          npm install -g vite
        if: success()

      - name: Construir la aplicación
        run: npm run build

      - name: Verificar creación de la carpeta dist
        run: |
          ls -la


      - name: Instalar lftp
        run: sudo apt-get install lftp


      - name: Verificar conexión FTP
        run: |
          lftp -u ${{ secrets.USER }},${{ secrets.PASSWORD }} ${{ secrets.HOST }} <<EOF
          pwd
          quit
          EOF


      - name: Despliegue en servidor con FTP
        run: |
          lftp -e "mirror -R './dist/*' /" -u ${{ secrets.USER }},${{ secrets.PASSWORD }} ${{ secrets.HOST }}
